
<div class="index-state" >

<div class="splash" layout="column" layout-align="center center">

<!-- 	<div layout="row">
        <img height="100" width="100" src="build/components/application/icons/Sming-200.svg"></div>
	</div>
 -->	
 	<div layout="row">
        <img height="200" width="200" src="build/components/application/icons/Sming-200.svg"></div>
		<h1>Secure Smart Internet of Things</h1>
		<md-button class="md-raised md-primary" ui-sref="app.register">Register Now!</md-button>
	</div>
<!-- 	<div layout="row">
	</div>
 -->
</div>

</div>
