<div class="ca-state" layout="row" layout-align="center" layout-margin>

	<div flex flex-gt-xs="70" >

    <md-card>

	  <md-card-title>
	   <md-card-title-text>Manage Identities</md-card-title-text>
	  </md-card-title>

	    <md-card-content>

	      <div layout="row">
	      	<form name="caRootForm" ng-submit="CaStateController.executeForm()" flex-gt-sm>
	      	<md-input-container class="md-block" flex-gt-sm>
			<label>Certificate Issuer</label>
			<input required name="issuer" ng-model="CaStateController.issuer">
			<div ng-messages="caRootForm.issuer.$error">
				<div ng-message="required">Please enter an Service/Application name.</div>
				<span id="invalid-issuer" style="font-size:.8em" ng-bind="CaStateController.errorMessageIssuer" ></span>
			</div>
			</md-input-container>
	      		<div layout-gt-sm="row" layout-align="end center" flex-gt-sm>
					<md-button type="submit"  class="md-raised md-primary">Submit</md-button>
<!-- 				<md-button ui-sref="app.index" class="md-raised md-primary">Cancel</md-button>
 -->			</div>
	      	</form>
	      </div>

	    </md-card-content>

	</md-card>
</div>