

<div class="setup-state" layout="row" layout-align="center" layout-margin>

	<div flex flex-gt-xs="70" >

    <md-card>

  <md-card-title>
   <md-card-title-text>Let's get started</md-card-title-text>
  </md-card-title>

    <md-card-content>

      <div layout="row">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>

    <md-divider ></md-divider>
      <div layout="row" layout-xs="column">
        <div flex flex-gt-xs="60">
          <h3>Manage your Service</h3>  
          <p>Sming devices are build to provide some service and participate in a oeco system</p>
          <P>This is the place to define your services tha devices and getway are gonig to announce over WIFI</p>
        </div>
        <div flex-gt-xs="40" layout="column" layout-align="center center">
        	<md-button class="md-primary sc-menu" ui-sref="app.service">
        		<md-icon class="sc-icon" md-svg-icon="build/components/application/icons/technology.svg"></md-icon> Services
        	</md-button>
        </div>
      </div>
    <md-divider></md-divider>
      <div layout="row" layout-xs="column">
        <div flex flex-gt-xs="60">
          <h3>Manage your Identities</h3>  
          <p>Sming security uses cryptography and certificates for device and service identification.</p>
          <P>This is the place to create and mange you identities and certificates</p>
        </div>
        <div flex-gt-xs="40" layout="column" layout-align="center center">
        	<md-button class="md-primary sc-menu" ui-sref="app.ca">
        		<md-icon class="sc-icon" md-svg-icon="build/components/application/icons/identity.svg"></md-icon> Identities
        	</md-button>
        </div>
      </div>
    <md-divider></md-divider>
      <div layout="row" layout-xs="column">
        <div flex flex-gt-xs="60">
          <h3>Manage Firmware</h3>  
          <p>Sming firmware can be distributed over the Air while still enforcing strict security</p>
          <P>This is the place to upload and sing your firmware files and get them ready for ditribution</p>
        </div>
          <div flex-gt-xs="40" layout="column" layout-align="center center">
        	<md-button class="md-primary sc-menu" ui-sref="app.firmware">
        		<md-icon class="sc-icon" md-svg-icon="build/components/application/icons/logo.svg"></md-icon> Firmware
        	</md-button>
        	</div>
      </div>
    <md-divider></md-divider>
      <div layout="row" layout-xs="column">
        <div flex flex-gt-xs="60">
          <h3>Manage Devices</h3>  
          <p>Get an overview on your registered devices</p>
          <P>This is the place to manage you devices, check for installed firmware, revoke certificates and so on ..</p>
        </div>
          <div flex-gt-xs="40" layout="column" layout-align="center center">
        	<md-button class="md-primary sc-menu" ui-sref="app.device">
        		<md-icon class="sc-icon" md-svg-icon="build/components/application/icons/computer.svg"></md-icon> Devices
        	</md-button>
        	</div>
      </div>

      </md-card-content>
    </md-card>

	</div>
</div>