<div layout="column" style="height:700px;">

    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left" md-component-id="applicationNavigation"
                    md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Navigation</h1>
            </md-toolbar>
            <md-content layout-padding="">
                <p>
                    This is the sidenav.
                </p>
            </md-content>
        </md-sidenav>

        <md-content flex="">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" hide-gt-md=""
                               ng-click="application.toggle()">
                        <md-icon md-svg-icon="build/components/application/icons/ic_menu_white_24px.svg"></md-icon>
                    </md-button>
                    <h2>
                        <span>Sming Connect</span>
                    </h2>
                </div>
            </md-toolbar>

            <ui-view class="no-padding" name="application"></ui-view>
            
        </md-content>
    </section>
</div>
