<md-card class="rsignup-form">

	<md-card-title>
	 <md-card-title-text>Please register</md-card-title-text>
	</md-card-title>

<md-card-content>

	<form name="signupForm" ng-submit="SignupFormController.executeForm()">
<!-- 	UID / Email
 -->	
  	<div layout="row">
		<md-input-container class="md-block" flex-gt-xs="40">
		<label>User ID</label>
		<input required name="username" ng-model="SignupFormController.username">
		<div ng-messages="signupForm.username.$error">
			<div ng-message="required">User name or Nick name you like to login with.</div>
			<span id="invalid-uid" style="font-size:.8em" ng-bind="SignupFormController.errorMessageUsername" ></span>
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
		<label>Email</label>
		<input required type="email" name="eMail" 
			ng-model="SignupFormController.eMail" 
			minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
		<div ng-messages="signupForm.eMail.$error" role="alert">
			<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
				Please provide a valid eMail Address.
			</div>
			<span id="invalid-email" style="font-size:.8em" ng-bind="SignupFormController.errorMessageEMail" ></span>
		</div>
		</md-input-container>
	</div> 
<!-- 	Name / Lastname
 -->	
	<div layout="row">
		<md-input-container class="md-block" flex-gt-xs="40">
		<label>Name</label>
		<input required name="firstName" ng-model="SignupFormController.firstName">
		<div ng-messages="signupForm.name.$error">
			<div ng-message="required">Please provide your given name.</div>
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
		<label>Last Name</label>
		<input required name="lastName" ng-model="SignupFormController.lastName">
		<div ng-messages="signupForm.lastName.$error">
			<div ng-message="required">Please provide your last name.</div>
		</div>
		</md-input-container>
	</div>
<!-- 	Company
 -->	
	<div layout="row">
		<md-input-container class="md-block" flex-gt-xs="100">
		<label>Commpany</label>
		<input name="company" ng-model="SignupFormController.company">
		</md-input-container>
	</div>      

<!-- 	Address / StreetNo / ZIP
 -->	
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-xs="50">
		<label>Address</label>
		<input required name="address" ng-model="SignupFormController.address">
		<div ng-messages="signupForm.address.$error">
			<div ng-message="required">Please provide a Street or Building.</div>
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs="25">
		<label>Number</label>
		<input name="addressExt" ng-model="SignupFormController.addressExt">  
		<div ng-messages="signupForm.lastName.$error">
			<div ng-message="required">Please provide a Street number or appartment.</div>
		</div>
		</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
		<label>Postal Code</label>
		<input required type="number" name="postalCode" 
			ng-model="SignupFormController.postalCode" minlength="4" maxlength="5">
		<div ng-messages="signupForm.postalCode.$error" role="alert">
			<div ng-message-exp="['required', 'minlength', 'maxlength']">Please provide a valid postal code.</div>
		</div>
		</md-input-container>
	</div>
<!-- 	Country  / State / city
 -->		
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-xs="50">
			<label>Country</label>
            <md-select required ng-model="SignupFormController.country" 
            	ng-change="SignupFormController.onCountryChange()">
              <md-option ng-repeat="optCountry in SignupFormController.countries" value="{{optCountry}}">
                {{optCountry}}
              </md-option>
            </md-select>
		<div ng-messages="signupForm.country.$error">
			<div ng-message="required">Please select the name of you country.</div>
		</div>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-xs="25">
            <label>State</label>
            <md-select required ng-model="SignupFormController.countryState">
              <md-option ng-repeat="optState in SignupFormController.states" value="{{optState}}">
                {{optState}}
              </md-option>
            </md-select>
		<div ng-messages="signupForm.state.$error">
			<div ng-message="required">Please select the state in you country.</div>
		</div>

        </md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
		<label>City</label>
		<input required name="city" ng-model="SignupFormController.city">
		<div ng-messages="signupForm.city.$error">
			<div ng-message="required">Please provide the name of you city.</div>
		</div>
		</md-input-container>
    </div>
<!-- 	Password / Confirm PWD
 -->	
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-xs="70">
		<label>Password</label>
		<input required type="password" name="password" ng-model="SignupFormController.password">
		<div ng-messages="signupForm.pwd.$error">
			<div ng-message="required">Please choose a password.</div>
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs="70">
		<label>Confirm Password</label>
		<input required type="password" name="confirmPwd" ng-model="SignupFormController.confirmPwd">
		<div ng-messages="signupForm.confirmPwd.$error">
			<div ng-message="required">Please confirm your password.</div>
			<span id="invalid-pwd" style="font-size:.8em" ng-bind="SignupFormController.errorMessagePwd" ></span>
		</div>
		</md-input-container>
	</div>

	<div layout-gt-sm="row" layout-align="end center">
		<md-button type="submit"  class="md-raised md-primary">Submit</md-button>
		<md-button ui-sref="app.index" class="md-raised md-primary">Cancel</md-button>
	</div>

	</form>
	
</md-card-content>
</md-card>